*{
    padding: 0;
    margin: 0;
}
/*landing-page*/
body{
  display: grid;
  color: white;
  background-color: black;

}



#navbar{
    background-color: aqua;
    margin:20px;
}

#hero-image{
    height: 400px;
    width: 100%;
    background-image: url('../images/hero-image-p1.jpg');
    background-position: center;
 
   
}

#links{
    background-color: aquamarine;
    float: right;
    letter-spacing: 3px;
    font-size: 30px;
}

#main{
    text-align: center;
    margin: 20px;
    border: 2px solid black;
}

#start{
    font-size: 50px;
}

#start-info{
    font-size: 25px;
}

#launch{
    display:inline-flex;
    padding: 30px 30px;
    margin: auto;
}

#logo{
   display:inline-flex;
    padding: 30px ;
    margin: auto;
}


ul{
    text-decoration: none;
    list-style-type: none;
}

li{
    display: inline;
}

a{
    text-decoration: none;
}

.you-nintendo{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.you-play{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.you-micro{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.logo-one{
    margin: 20px;
    height: 200px;
    width:240px;
    border: 3px solid black;
}

.logo-two{
    margin: 20px;
    height: 200px;
    width:240px;
    border: 3px solid black;
    
}

.logo-three{
    margin: 20px;
    height: 200px;
    width:240px;
    border: 3px solid black;
    
}


/* playstation*/

.station-one{
    display: inline-flex;
    background-color:red;
    margin: 20px;
    }

   


#play-one-info{
    height:200px;
   float: left;
   width: 50%;
   font-size: 30px;
}



#play-image{
    height: 200px;
    width: 50%;
    background-image: url('../images/ps1console.png');
    background-repeat: no-repeat;
    background-position: center;
}

#play-controller1{
    height: 200px;
    width: 50%;
    background-image: url('../images/ps1controller.jpg');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}