*{
    padding: 0;
    margin: 0;
}
/*landing-page*/


body{
  display: grid;
  color: white;
  background-image: url("../images/background.jpg");
  background-position: relative;
  background-size: contain;
 }


#navbar{
    margin: 20px;
    line-height: normal;
}


#logo{
    font-size: 30px;

}

#hero-image{
    height: 400px;
    width: 100%;
    background-image: url('../images/hero-image-p1.jpg');
    background-position: center;   
}



#logo{
    margin:20px;
    float: left;
    font-size: 150%;
    color:khaki;
    }

 
#links{
    float: right;
    letter-spacing: 3px;
    font-size: 30px;
    color:wheat;
    margin: 40px 20px ;
    
    
}


#main{
    text-align: center;
    margin: 20px;
    border: 2px solid black;
}

#start{
    font-size: 50px;
}

#start-info{
    font-size: 25px;
}

#launch{
    display:inline-flex;
    padding: 30px 30px;
    margin: auto;
}

#system-logo{
   display:inline-flex;
    padding: 30px 30px;
    margin: auto;
}


ul{
    text-decoration: none;
    list-style-type: none;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    color: yellow;
}


.you-nintendo{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.you-play{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.you-micro{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.logo-one{
    margin: 20px;
    height: 200px;
    width:240px;
    border: 3px solid black;
}

.logo-two{
    margin: 20px;
    height: 200px;
    width:240px;
    border: 3px solid black;
    
}

.logo-three{
    margin: 20px;
    height: 200px;
    width:240px;
    border: 3px solid black;
    
}


/* playstation*/

.system-info{
    display: inline-flex;
    margin: 20px;
    text-align: center;
    }


.play-image{
    height: 300px;
    width: 50%;
    border: violet solid 3px;
    margin: 50px 50px;
}

.imageplay{
 width:75%;
 height: 300px;
 border-radius: 20px;
 transition: 1s;
}

.play-one-info{
    height:300px;
    width: 70%;
    font-size: 30px;
    border: white 4px solid;
    margin:auto;
 }

 .imageplay:hover{
     transform: scale(1.3);
     z-index: 2;

 }